<head>
    <!-- character encoding for browser, UTF-8 = unicode  -->
    <meta charset="UTF-8">
    <!-- Title as part of the tab of the webpage -->
    <title> Furever-Linked </title>

    <!-- Font -->

    <!-- external styling -->
    <link href="css/styles.css" rel="stylesheet">

</head>