<!DOCTYPE html>
<html lang="en">

    <!-- partial for header -->
    <%- include('partials/head.ejs') %> 

    <body>
        <!-- partial for nav -->
        <%- include('partials/nav.ejs') %> 

        <%- include('partials/footer.ejs') %> 
        <script src="/js/script.js"></script>  
    </body>

</html>