<!DOCTYPE html>
<html lang="en">

    <!-- partial for header -->

    <%- include('partials/head.ejs') %> 

    <body>
        <!-- partial for nav -->
        <%- include('partials/nav.ejs') %> 


        <h1 class="text-center">Welcome to Cryptid or Adoption Website!</h1>
    <% if (user) { %>
    <div class="container py-5 text-center">
        <h1>Welcome, <%= user.user %>!</h1>
    </div>
    <% } %>

        <br><br>
        <div id="test-card" class="text-center">
            <iframe width="700" height="500" src="https://www.youtube.com/embed/u7yTIOPS5Po?si=zevkZC0yWpim_qyT" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>


            <figcaption>
                <figure>
                    <img src="/img/rudy.jpg" alt="placeholder">
                </figure>
            </figcaption>
        </div>


        <%- include('partials/footer.ejs') %> 
        <script src="/js/script.js"></script>  
    </body>

</html>