<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs') %>

  <body class="forest-body">
    <%- include('partials/nav.ejs') %>

    <main class="page-main">
      <section class="container py-5">
        <header class="page-header mb-4">
          <h1 class="page-title">User Profile</h1>
          <p class="page-subtitle">
            USER PROFILE IMG GO HERE
          </p>
          <strong><%= user.user %></strong>
        </header>

        <div class="forest-card">

        FIRSNAME LASTNAME <br>

        Contact <br>

        Biography <br>
    
        Links <br>

        No links have been added

        </div>
      </section>
    </main>

    <%- include('partials/footer.ejs') %>
  </body>
</html>