<!DOCTYPE html>
<html lang="en">

    <!-- partial for header -->

    <%- include('partials/head.ejs') %> 

    <body>
        <!-- partial for nav -->
        <%- include('partials/nav.ejs') %> 



        <h2 class="text-center">Profile Info</h2>


        <h2 class="text-center">PASSWORD PROTECTED PAGE</h2>

        <h2 class="text-center">WHERE USER CAN EDIT THEIR PROFILE ETC...</h2>


        <%- include('partials/footer.ejs') %> 
        <script src="/js/script.js"></script>  
    </body>

</html>